# Arquivos do Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos de compilação
bin/
obj/
*.cache
*.log
*.dll
*.pdb

# Arquivos de banco de dados
*.mdf
*.ldf
App_Data/

# Arquivos temporários
*.tmp
*.temp
*.vsidx

# Arquivos do IIS
*.iislog

# Arquivos do NuGet
packages/
*.nupkg
.nuget/